.Comment {
  background-color: var(--primary-color);
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.Comment > * {
  text-overflow: wrap;
}

.Comment__body {
  text-overflow: wrap;

  max-width: 500px;
}
