Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  margin: 0;
  width: 100vw;
  height: 10vh;
  color: var(--text-color-light);
  background: var(--primary-color);
}

.Nav__home-link {
  display: flex;
  align-items: center;
  width: 170px;
  height: 50px;
  text-decoration: none;
  font-size: 15px;
  color: var(--text-color-light);
}

.Nav__logo {
  width: 40px;
  height: 40px;
  margin-left: 10vw;
}

.Nav__profile__img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 10vw;
}

.Nav__login {
  color: var(--text-color-light);
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.gradient {
  background: rgb(25, 37, 49);
  background: linear-gradient(
    180deg,
    rgba(25, 37, 49, 1) 63%,
    rgba(37, 51, 66, 1) 84%,
    rgba(56, 73, 92, 1) 100%
  );
}

.Nav__hamburger {
  color: var(--text-color-light);
  width: 20px;
}

.Nav__dropdown {
  background-color: var(--background-color);
  border: 1px solid var(--highlight-color);
  width: 50vw;
  max-width: 200px;
  height: 200px;
  position: fixed;
  top: 10vh;
  right: 0;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

.Nav__dropdown * {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: var(--highlight-color);
}
